/* RESET */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    width:100vw;
    height:100vh;
    overflow:hidden;

    font-family:Georgia, serif;

}

/* SCENA ESTERNA */

.scena{

    position:relative;

    width:100vw;
    height:100vh;

    background-image:url("IMG_0699.png");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;

}

/* LEGGERA OMBRA */

.scena::after{

    content:"";

    position:absolute;

    inset:0;

    background:rgba(7,18,28,.28);

}

/* PORTALE */

.porta{

    position:absolute;

    left:78%;
    bottom:47%;

    transform:translateX(-50%);

    width:95px;
    height:170px;

    border:3px solid transparent;
    border-radius:60px 60px 0 0;

    background:rgba(255,215,120,.12);

    box-shadow:
        0 0 20px rgba(255,215,120,.35),
        inset 0 0 15px rgba(255,215,120,.25);

    transition:.35s;

    z-index:10;

}

.porta:hover{

    transform:translateX(-50%) scale(1.05);

    box-shadow:
        0 0 25px rgba(255,215,120,.8),
        0 0 60px rgba(255,215,120,.5);
    background:rgba(255,215,120,.25);

}

/* TITOLO */

.titolo{

    position:absolute;

    bottom:70px;

    width:100%;

    text-align:center;

    color:#f5e8c8;

    font-size:28px;

    letter-spacing:4px;

    text-shadow:0 0 18px rgba(0,0,0,.9);

    opacity:0;

    animation:comparsa 2s ease forwards;

    animation-delay:1s;

    z-index:10;

}
@keyframes comparsa{

    from{

        opacity:0;
        transform:translateY(15px);

    }

    to{

        opacity:1;
        transform:translateY(0);

    }

}
.nebbia{

    position:absolute;

    inset:0;

    background:rgba(255,255,255,0.15);

    animation:nebbia 18s ease-in-out infinite alternate;

    pointer-events:none;

    z-index:5;

}
@keyframes nebbia{

    from{

        transform:translateX(-20px);

        opacity:.8;

    }

    to{
.scena{

    animation:luce 12s ease-in-out infinite alternate;

}


@keyframes luce{

    from{

        filter:brightness(1);

    }

    to{

        filter:brightness(1.08);

    }

}
        transform:translateX(20px);

        opacity:.65;

    }

}
